<form class=" d-flex flex-column" [formGroup]="form" (ngSubmit)=" sendDetail()">
    <img class="mb-4" src="https://www.hutch.io/static/hutch_logo_white-c25fb6ff17b19d9ab8362f6a39cb202f.png" alt="">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" formControlName="username" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" formControlName="password">
    </div>
    <button class="btn btn-lg btn-warning btn-block" type="submit">Sign in</button>
</form>